html {
  font-size: 10px;
}

body {
  background-color: #fff;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #000;
  /*font-family: 'Nunito', sans-serif*/
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a:hover {
  color: none;
  text-decoration: none;
}

body {
  background-color: #fff;
}

.header {
  background-image: url("../img/bg/bg-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
  background-color: rgba(48, 50, 99, 0.67);
  width: 100%;
  height: 810px;
}

.inner-header {
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}
.inner-header-text-1 {
  padding: 150px 35px 10px 35px;
  font-size: 4.8rem;
  font-weight: 700;
}
.inner-header-text-2 {
  font-size: 2.4rem;
  margin: 20px 200px;
  font-weight: 100;
}

.features {
  display: flex;
  justify-content: center;
}
.features-block {
  margin: 60px 0;
  width: 250px;
  height: 160px;
  position: relative;
}
.features-block:not(:last-child) {
  margin-right: 60px;
}
.features-block-icons {
  margin-top: -340px;
}
.features-block img {
  position: relative;
}
.features-block span {
  font-size: 4.8rem;
  font-weight: 700;
}
.features-block p {
  font-size: 1.8rem;
  font-weight: 100;
  text-align: center;
  vertical-align: middle;
  padding-top: 20px;
  margin-top: -160px;
}

.navigation {
  width: 100%;
  height: 115px;
}
.navigation .nav {
  float: right;
}
.navigation .nav-link {
  font-size: 3rem;
  color: #000;
  margin: 30px 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.navigation .nav-link:hover {
  color: #ce7d0a;
}
.navigation .nav-link:active {
  color: #fbd9a9;
}
.navigation .nav-link-active {
  color: #f6ae48;
}
.navigation .nav-link-active:hover {
  color: lighen(#f6ae48, 55%);
}

.section {
  border-top: 2px solid #adadad;
}
.section-1 {
  position: relative;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  align-content: center;
  width: 100%;
  height: 520px;
  margin: auto 0;
}
.section-text-1 {
  display: flex;
  align-items: center;
  font-size: 4.8rem;
  font-weight: 700;
  color: #000;
}
.section-text-2 {
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  align-items: center;
  width: 60%;
}
.section-text-3 {
  position: absolute;
  align-content: center;
  align-items: center;
  top: 0px;
  left: 33%;
  font-size: 32rem;
  font-weight: 900;
  color: rgba(22, 22, 22, 0.05);
}
.section-2 {
  width: 100%;
  height: 600px;
  display: flex;
}
.section-2-block {
  position: relative;
  width: 33%;
  height: 370px;
  padding: 20px;
}
.section-2-block h5 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 2.05rem;
  font-weight: 600;
}
.section-2-block p {
  font-size: 1.5rem;
  font-weight: 200;
}
.section-2-block .arrow {
  position: absolute;
  bottom: 30px;
  right: 30px;
  height: 30px;
}
.section-2-block a {
  color: #fdebd8;
}
.section-2-block a:hover {
  color: white;
}
.section-2-block a:active {
  color: #fbd2a7;
}
.section-2-block span {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 10px;
  font-size: 1.8rem;
  font-weight: 700;
  border: 2px solid #fdebd8;
}
.section-2-block span:hover {
  border-color: white;
}
.section-2-block span:active {
  border-color: #fbd2a7;
}
.section-2 .block-yellow {
  background-color: #f6ae48;
  color: #fdebd8;
}

.section-3 {
  width: 100%;
  height: 560px;
  background-image: url("../img/bg/bg-section-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
  background-color: rgba(48, 50, 99, 0.67);
  display: flex;
}
.section-3-block {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-top: 150px;
}
.section-3-block h2 {
  display: block;
  font-size: 5rem;
  text-align: center;
  color: #fff;
}
.section-3-block p {
  font-size: 2.4rem;
  color: #fff;
  padding: 30px 150px;
  text-align: center;
}

.section-4 {
  width: 100%;
  height: 620px;
  position: relative;
  z-index: 6;
  display: flex;
}
.section-4-block-link {
  margin-top: 210px;
  display: flex;
}
.section-4-block-link .block-orange-icon {
  position: absolute;
  top: -100px;
  left: 0;
  z-index: 1;
}
.section-4-block-link .block-orange-icon .left-settings {
  position: absolute;
  left: 0;
  top: 0;
}
.section-4-block-link .block-orange-icon h3 {
  font-size: 5rem;
  color: #fff;
  position: absolute;
  top: 22%;
  left: 25%;
}
.section-4-block-link .block-link {
  display: flex;
  position: relative;
  z-index: 5;
  width: 360px;
  height: 320px;
  flex-direction: row;
  justify-content: center;
}
.section-4-block-link .block-link:not(:last-child) {
  margin-right: 15px;
}
.section-4-block-link .block-link-1 {
  width: 360px;
  height: 320px;
  background-image: url("../img/bg/block-link-1.jpg");
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: #797979;
  background-size: cover;
}
.section-4-block-link .block-link-1 span {
  border: 2px solid #00b9e7;
}
.section-4-block-link .block-link-1 span:hover {
  border-color: #1bd2ff;
}
.section-4-block-link .block-link-1 span:active {
  border-color: #0090b4;
}
.section-4-block-link .block-link-2 {
  width: 360px;
  height: 320px;
  background-image: url("../img/bg/block-link-2.jpg");
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: #797979;
  background-size: cover;
}
.section-4-block-link .block-link-2 span {
  border: 2px solid #ffcb00;
}
.section-4-block-link .block-link-2 span:hover {
  border-color: #ffd533;
}
.section-4-block-link .block-link-2 span:active {
  border-color: #cca200;
}
.section-4-block-link .block-link-3 {
  width: 360px;
  height: 320px;
  background-image: url("../img/bg/block-link-3.jpg");
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: #797979;
  background-size: cover;
}
.section-4-block-link .block-link-3 span {
  border: 2px solid #66bf0d;
}
.section-4-block-link .block-link-3 span:hover {
  border-color: #80ef10;
}
.section-4-block-link .block-link-3 span:active {
  border-color: #4d8f0a;
}
.section-4-block-link .block-link h3 {
  font-size: 5rem;
  color: #fff;
  margin: 0 30px;
  margin-top: 65px;
  margin-bottom: 120px;
  border-bottom: 1.5px solid silver;
}
.section-4-block-link .block-link a {
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: #fff;
}
.section-4-block-link .block-link a:hover {
  color: white;
}
.section-4-block-link .block-link a:active {
  color: #e6e6e6;
}
.section-4-block-link .block-link a span {
  padding: 10px;
  font-size: 1.8rem;
  font-weight: 700;
}
.section-4-block-link .block-link a img {
  height: 32px;
  width: 32px;
  position: relative;
  bottom: 0px;
  right: -240px;
}

.section-5__row {
  display: flex;
  margin: 100px 0;
}
.section-5__subtitle {
  font-size: 8rem;
  font-weight: 700;
  color: #dfdfdf;
  position: absolute;
  z-index: 1;
  margin-left: -60px;
  letter-spacing: 6px;
}
.section-5__title {
  position: relative;
  font-size: 3.6rem;
  text-transform: uppercase;
  line-height: 50px;
  margin-top: 40px;
  z-index: 10;
  font-weight: 700;
  margin-bottom: 15px;
}
.section-5__text {
  font-size: 2.4rem;
  line-height: 50px;
  text-align: left;
  padding-right: 100px;
}
.section-5__images {
  text-align: center;
  margin-right: 100px;
}
.section-5__images img {
  margin-bottom: 30px;
}

.section-6 {
  background-color: #303263;
}
.section-6__row-1 {
  position: relative;
}
.section-6__subtitle {
  font-size: 9.6rem;
  font-weight: 700;
  color: #c1c1c1;
  opacity: 34%;
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}
.section-6__title {
  position: relative;
  z-index: 5;
  padding: 50px 0;
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  color: #fff;
}
.section-6__row-2 {
  display: flex;
  flex-wrap: wrap;
}
.section-6__block {
  display: flex;
  flex: 0 1 25%;
}
.section-6__block:nth-child(-n+2) {
  flex: 0 1 50%;
}
.section-6__block img {
  background-size: cover;
  width: 100%;
}
.section-6__row-3 {
  display: flex;
  justify-content: space-around;
}
.section-6__btn {
  font-size: 3.6rem;
  padding: 5px 20px;
  margin: 30px 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  border-radius: 15px;
}
.section-6__btn:hover {
  color: #e6e6e6;
  transform: scale(1.05);
}

.section-7 {
  background: url("../img/bg/bg-section-7.png") right no-repeat;
}
.section-7__row {
  display: flex;
}
.section-7__body {
  margin: 200px 0 160px 0;
  flex: 0 1 50%;
}
.section-7__subtitle {
  font-size: 9.6rem;
  font-weight: 700;
  color: #c1c1c1;
  opacity: 34%;
  position: absolute;
  margin-top: -45px;
  margin-left: -80px;
  z-index: 1;
}
.section-7__title {
  font-size: 3.6rem;
  font-weight: 300;
  margin-bottom: 15px;
}
.section-7__text {
  font-size: 2.4rem;
  line-height: 50px;
}

.section-8 {
  background-image: url("../img/bg/bg-section-8.jpg");
  background-size: cover;
  background-blend-mode: multiply;
  background-color: #888;
  padding-bottom: 40px;
}
.section-8__title {
  font-size: 4.8rem;
  color: #fff;
  text-align: center;
  padding: 60px 0;
}
.section-8__row {
  display: flex;
  margin: 0 -60px;
}
.section-8__button {
  display: flex;
  justify-content: space-around;
}
.section-8__btn {
  font-size: 2.4rem;
  padding: 15px;
  background-color: #f6ae48;
  border-radius: 15px;
  color: #fff;
}
.section-8__btn:hover {
  color: #e6e6e6;
  transform: scale(1.05);
}
.column {
  position: relative;
  flex: 0 0 33.333%;
  padding: 0 30px;
  margin-bottom: 20px;
}
.column__img {
  position: absolute;
  left: -10px;
}
.column__title {
  height: 40px;
  font-size: 3rem;
  margin-bottom: 40px;
  margin-left: 40px;
  color: #fff;
  font-weight: 700;
}
.column__text {
  font-size: 18px;
  line-height: 28px;
  color: #fff;
}

.section-9__row {
  display: flex;
  margin-top: 170px;
  margin-bottom: 170px;
}
.section-9__body {
  position: relative;
  flex: 1 1 50%;
}
.section-9__subtitle {
  position: absolute;
  z-index: 1;
  top: -28px;
  left: -50px;
  font-size: 7.2rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.2);
}
.section-9__title {
  position: relative;
  z-index: 5;
  margin-bottom: 40px;
  font-size: 3.6rem;
  font-weight: 700;
}
.section-9__text {
  font-size: 2.4rem;
  line-height: 1.5;
}
.section-9__image {
  flex: 0 0 50%;
}
.section-9__image img {
  width: 100%;
  background-size: cover;
}